<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Player</th>
        <th>G</th>
        <th>A</th>
        <th>G+A</th>
        <th>Games</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < players.length; i++) { %>
    <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= players[i].name %></td>
        <td><%= players[i].goals %></td>
        <td><%= players[i].assists %></td>
        <td><%= players[i].glas %></td>
        <td><%= players[i].games %></td>
    </tr>
    <% } %>
    </tbody>
</table>