<div class="panel panel-info">

    <div class="panel-heading"><%= teamName %>
        <% if (captain != null) { %>
        - captain:
        <b><%= captain %></b>
        <% } %>
    </div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Time</th>
            <th>Goals</th>
            <th>Assists</th>
        </tr>
        </thead>
        <tbody>
        <% var i = 1; %>
        <% console.log('squad ', squad); %>
        <% for (var player in squad) { %>
        <tr>
            <th scope="row"><%= i++ %></th>
            <td><a href="/player/<%= player %>/<%= currentYear %>"><%= player %></a></td>
            <td><%= squad[player].time %>%</td>
            <td><%= squad[player].goals %></td>
            <td><%= squad[player].assists %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>