<div class="panel panel-default">

    <div class="panel-heading"><%= teamName %></div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
<!--            <th>Goals</th>
            <th>Assists</th>-->
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i < team.length; i++) { %>
        <tr>
            <th scope="row"><%= i+1 %></th>
            <td><%= team[i].name %></td>
<!--            <td><%= team[i].goals %></td>
            <td><%= team[i].assists %></td> -->
        </tr>
        <% } %>
        </tbody>
    </table>
</div>