<!DOCTYPE html>
<html>
<head lang="en">
    <title>Russian Soccer stat</title>
    <% include ../partials/header.ejs %>
    <% include ../partials/counters.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div id="main" class="container">

    <div class="col-md-3 col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Last game</h3></div>
            <div class="panel-body">
                <% var gameDate = lastGame.date; %>
                <% var game = lastGame; %>
                <% var whiteScore = game.white.score; %>
                <% var colorScore = game.color.score; %>
                <% include ../partials/game_short_display.ejs %>
            </div>
            <div class="panel-footer"><a href="/game/<%= currentYear %>/<%= lastGame.id %>" class="navbar-link">Full report</a></div>
        </div>
    </div>
    
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Last games <span class="badge"><%= games.length %></span>
                </h3></div>
            <div class="panel-body">
                <% var full = false; %>
                <% include ../partials/game_list.ejs %>
            </div>
            <div class="panel-footer"><a href="/games/<%= currentYear %>" class="navbar-link">All games</a></div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Ratings</h3></div>
            <div class="panel-body">
                <% var full_ratings = false; %>
                <% include ../partials/ratings.ejs %>
            </div>
            <div class="panel-footer"><a href="/ratings/<%= currentYear %>" class="navbar-link">Full ratings</a></div>
        </div>
    </div>
    
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Top scorers</h3></div>
            <div class="panel-body">
                <% var full_scorers = false; %>
                <% include ../partials/scorers_list_small.ejs %>
            </div>
            <div class="panel-footer"><a href="/scorers/<%= currentYear %>" class="navbar-link">All Scorers</a></div>
        </div>
    </div>
    
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Top assists</h3></div>
            <div class="panel-body">
                <% include ../partials/assists_list_small.ejs %>
            </div>
            <div class="panel-footer"><a href="/assists/<%= currentYear %>" class="navbar-link">All Assists</a></div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Goal + Pass</h3></div>
            <div class="panel-body">
                <% include ../partials/glas_list_small.ejs %>
            </div>
            <div class="panel-footer"><a href="/glas/<%= currentYear %>" class="navbar-link">All Goal + Pass</a></div>
        </div>
    </div>

    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Winners</h3></div>
            <div class="panel-body">
                <% include ../partials/winners_list.ejs %>
            </div>
            <div class="panel-footer"><a href="/winners/<%= currentYear %>" class="navbar-link">All winners</a></div>
        </div>
    </div>
    
    <div class="col-md-3 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">Captains</h3></div>
            <div class="panel-body">
                <% include ../partials/captains_list.ejs %>
            </div>
            <div class="panel-footer"><a href="/captains/<%= currentYear %>" class="navbar-link">All captains</a></div>
        </div>
    </div>    
    
</div>


</body>
</html>
